<!-- <div class="echart">
    <label for="chartType">Select Chart Type: </label>
    <select [(ngModel)]="selectedChartType" id="chartType" (change)="updateChartType()">
      <option value="line">Line</option>
      <option value="bar">Bar</option>
      <option value="scatter">Scatter</option>
      <option value="pie"> Pie</option>
      
    </select>
  </div>
  
  <div echarts [options]="chartOption" class="demo-chart"></div>
   -->
  <div class="select-container">
  <label for="chartType">Select Chart Type:</label>
  <select id="chartType" [(ngModel)]="selectedChartType" (change)="updateChartType()">
    <option value="line">Line</option>
    <option value="bar">Bar</option>
    <option value="scatter">Scatter</option>
    <option value="pie">Pie</option>
  </select>
</div>

<div echarts [options]="chartOption" class="demo-chart"></div>
