h2{
    font-style: oblique;
    text-align: center;
    color: maroon;
}
.demo-chart{
    width: 80%;
    height: 500px;
    margin: 20px auto;
    background: #ffffff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(81, 2, 2, 0.1);
}
