h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: mediumvioletred;
    text-align: center;
    
    /* display: flex; */
}
h2{
  text-align: center;
  color:indianred
}